    
    body {
        margin: 15px;
        background-color: #F1F3F3
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: #D4D8DA;
        stroke-width: 1px;
        shape-rendering: crispEdges;
    }

    .x path {
        display: none;
    }

    .barToolTip {
        position: absolute;
        display: none;
        min-width: 80px;
        height: auto;
        background: none repeat scroll 0 0 #ffffff;
        border: 1px solid #6F257F;
        padding: 14px;
        text-align: center;
    }

    .states {
        fill: none;
        stroke: #fff;
        stroke-linejoin: round;
    }

    .choropleth_states {
        fill: #ccc;
    }

    #tooltip_div {
        position: absolute;
        background-color: #fff;
        color: #000;
        padding: 10px;
        border: 1px solid;
        display: none;
    }

    #canvas svg {
        border: 0px;
    }

    .tooltip_sname {
        font-weight: bold;
    }


